@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

.container {
  @include media-breakpoint-only(xs){
    padding: 0 40px;
    .card {
      margin-bottom: 30px;
    }
  }
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
    .footer-icons {
      justify-content: space-between !important;
    }
    .card .card-footer .mr-3 {
      font-size: small;
    }
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
}

/***********************************
GLOBAL
***********************************/

body{
  background: $background;
}

nav  {
  background-color: $main;
}
.navbar-brand {
  color:#fff;
}

.btn-secondary {
  color: #FFF;
  background-color: $secondary;
  border-color: $secondary;
}

.btn-secondary:hover, .btn-secondary:focus {
  color: #FFF;
  background-color: #f76f4d;
  border-color: #f76f4d;
}
a {
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}

/**********************************
DASHBOARD
**********************************/

#search-btn:hover{
  cursor: pointer;
}

.card-header {
  background-color: $main;
  color: #FFF;
  border-color: $main;
}

.card {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.dashboard-card {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px  solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px  solid rgba(0, 0, 0, 0.125);
}

/************************************
RECIPE CARDS
************************************/

.fa-star, .fa-star-half{
  color: $secondary;
  font-size: 20px;
}

.card-recipe .card-block{
  padding-top: 0.5rem;
}

.card-footer i{
  color: $main;
}

.card-footer .icon-text{

}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: white;
  border-top: 0.25px solid rgba(0, 0, 0, 0.125);
}

#signInOutUpButtonsCont{
  position:relative;
}

